/* акцент синий #2196F3 */
/* основной цвет #212121 */
/* белый цвет #FFFFFF */
/* вторичный цвет #757575 */
/*  вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-white-color: #ffffff;
  --bgr-color: #2f303a;
  --logo-dark-color: #000000;
  --btn-color: #f5f4fa;
}

/* Сбросы */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--title-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address {
  font-style: normal;
  line-height: 1.71;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding: 94px 0;
}

.title-text {
  font-weight: 700;
  text-align: left;
  color: var(--title-text-color);
}

/* -------------header------------- */

.container-header {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}
.information-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header {
  border: 1px solid #ececec;
}

.accent-dark {
  color: var(--logo-dark-color);
}

.accent-white {
  color: var(--title-white-color);
}
.header-contact {
  margin-left: 50px;
}

.header-logo {
  margin-right: 93px;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-list a:hover,
.header-list a:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contact {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/*-----------------HERO--------------- */

.hero-section {
  text-align: center;
  background: var(--bgr-color);
  padding-top: 200px;
  padding-bottom: 200px;

}

.hero-title {
  margin-bottom: 30px;
  color: var(--title-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

/* ------------- Особенности------------- */

.peculiarities-list {
  display: flex;
}
.pecul-item:not(:last-child) {
  margin-right: 30px;
}
.pecul-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.peculiarities-second-text {

font-size: 14px;
font-style: normal;
line-height: 1.71;
text-align: left;


}

/*--------------Работа--------------*/

.section-work {
    padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.work {
  display: flex;
  justify-content: space-between;
}

/*------------ Наша команда -------------*/

.section-team {
    background: var(--btn-color);
}
.team-list .title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
}
.team-list {
  display: flex;
  margin-bottom: 0;
  margin-left: -30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  
}


.team-text {
 padding-top: 30px;
 padding-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
}

/* button */
.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;

  color: var(--title-white-color);
  background: var(--accent-color);
  font-family: inherit;
  font-size: 16px; 
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
   border: none;
  cursor: pointer;
}

/* Button-portfolio */
.button-port button {
  color: var(--title-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
}
.button-port button:hover,
.button-port button:focus {
  background-color: var(--accent-color);
  color: var(--title-white-color);
}
.examples .title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

/*------------- Futer---------------- */


.futer {
  background-color: var(--bgr-color);
  padding: 60px 0;

}
.futer-logo {
    margin-bottom: 20px;
}
.futer .address {
  color: var(--title-white-color);

  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  margin-bottom: 9px;
  margin-top: 20px;
}
.futer .inf {
  font-family: Roboto;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}


.futer-inf-mail {
    display: block;
  margin-bottom: 9px;
}
.futer-inf-tel {
    display: block;
 
}



/*--------------- Portfolio ------------*/

/*----------- Button ---------*/
.btn {
    padding: 6px 22px;
    border: none;
    
}

.btn-item {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--bgr-color);
  border-radius: 4px;
  padding-right: 8px;
  padding-bottom: 16px;
  
}

.btn-item:last-child {
  padding-right: 0px;
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--btn-color);
}
.example-text {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.second-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.example-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.example-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
}


.main-example-text {
    margin: 20px 24px;

}